.comp {
    height: 450px;
    width: 450px;
    background-color: #0C4CA2;
    border-radius: 20px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

h2 span {
    color: #0C4CA2;
}

.n {
    border: 5px solid;
    color: #0C4CA2;
    border-radius: 5px;
    width: 40vh;
}

.onlyw {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.search {
    margin-top: -40px;
    margin-right: 20px;
    float: right;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    background-color: #E5E7E9;
    padding-left: 10px;
}

img {
    margin-top: 2%;

    height: 20vh;
    width: 20vh;
}

h3 {

    color: white;
}
p{
    text-decoration: none;
    text-transform: none;
}