.mfooter{
    background-color: #E6E0E0;
    height: 50vh;
    display:flex;
    align-items: center;
}
.flogo{
    width: 30vh;
    height: 12vh;
    border-radius: 0px;
    margin: 40px;
}
.lfooter{
    background-color:  #0C4CA2;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
margin-left: 0px;
color: #ffff;
}
.alllogo{
    display: flex;
    flex-direction: row;
}
.logos{
    height: 25px;
    width: 27px;
    margin-right: 10px;

}
.contact{
    margin: auto;
    margin-right: 80px;
}
.tele{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .mfooter {
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .flogo {
        width: 20vw;
        height: 5vh;
        margin: 10px;
    }
    .lfooter {
      
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .allogo{
        flex-direction: row;
      
    }
    .logos {
        height: 12px;
        width: 12px;
        margin: 0px 1x;
    }
    .contact {
        margin-right: 0;
        text-align: center;
        font-size: 10px;
    }
    .tele {
        height: 12px;
        width: 12px;
        margin-right: 0;
        margin-top: 5px;
    }
    .text{
        font-size: 8px;
        color: #ffff;
       margin-top: 1px;
    }
}