h1 {
    text-align: center;
    margin-top: 20vh;
    font-size: 40px;
    margin-bottom: -40px;
}
.galleryhead{
    margin-top: 15vh;
    margin-bottom: -25px;
}
h1 span {
    color: #0C4CA2;
}
.n2{
background-image: linear-gradient(to right,#0C4CA2, rgb(0, 0, 0));
border-radius: 5px;
width: 30vh;
height: 1vh;
margin-top: 50px;
    }
.allph{
    display: flex;
    flex-wrap: wrap;                                    
    margin-left: 120px;
}
.Galleryimg{

    height: 70vh;
    width: 40vw;
    margin: 20px;
    margin-top: 20vh;
    border-radius: 30px;
    border: 2px solid black;
}
.bgalleryimg{
    margin-top: 10vh;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
    margin-bottom: 10vh;
    border-radius: 30px;
    border: 2px solid black;

}

img:hover{
    scale: 1.08 ;
    transition: 1s;
}
/* For screens smaller than 768px (typical phone screens) */
@media only screen and (max-width: 767px) {
    .allph {
        display: block;
        margin-left: 0;
        margin-top: 100px;
    }

    .Galleryimg {
        width: 90vw;
        height: auto;
        margin: 10px;
        margin-bottom: 50px;

    }
    .bgalleryimg{
        width: 90vw;
        height: auto;
        margin: 10px;
        margin-bottom: 50px;
    }

    img:hover {
        transform: scale(1.08);
        transition: transform 1s;
    }
}